{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "react-app",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "prettier-standard"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "react",
    "@typescript-eslint",
    "react-hooks",
    "prettier",
    "simple-import-sort"
  ],
  "rules": {
    "react/jsx-no-undef": ["error", { "allowGlobals": true }],
    "no-use-before-define": "off",
    "react/no-children-prop": "off",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "jsx-a11y/anchor-is-valid": "off",
    "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error"
  }
}
